@page "/shopingCart"
@inject IBooksService BooksService
@inject ILocalStorageService LocalStorage

@if (CartItems != null && CartItems.Any())
{
    <div class="container">
        <h2>Koszyk</h2>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-striped table-hover text-center">
                    <thead>
                        <tr>
                            <th class="col-md-3">Miniaturka</th>
                            <th class="col-md-3">Tytuł</th>
                            <th class="col-md-2">Cena</th>
                            <th class="col-md-1">Ilość</th>
                            <th class="col-md-1">Usuń</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in CartItems)
                        {
                            <tr class="text-center align-middle">
                                <td>
                                    <a href="@($"/getBook/{item.BookId}")"><img src="@item.Image" class="img-thumbnail" style="width: 100px;" /></a>
                                </td>
                                <td>
                                    <a href="@($"/getBook/{item.BookId}")">@item.Title</a>
                                </td>
                                <td>
                                    @item.TotalPrice PLN                     
                                </td>
                                <td>

                                    <div class="d-flex flex-column gap-2 align-items-center">
                                    <input type="number" @bind="@item.Quantity" class="form-control text-center" />
                                    <button class="btn btn-sm btn-info" @onclick="()=>OnQuantityChanged(item)">Przelicz</button>
                                    </div>
                                </td>
                                <td >
                                    <div class="text-center"><button class="btn btn-sm btn-danger " @onclick="()=>DeleteItemCart(item)">Usuń</button></div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
else
{
    <p>Koszyk jest pusty</p>
}

@code {
    private List<ShoppingCart> CartItems { get; set; }

    protected override async Task OnInitializedAsync()
    {
        CartItems = await BooksService.GetAllCart();
    }
    private async Task DeleteItemCart(ShoppingCart item)
    {
        var updatedCart = await BooksService.DeleteItem(item);
        if (updatedCart != null)
        {
            CartItems = updatedCart;
            StateHasChanged();
        }
    }
    private async Task OnQuantityChanged(ShoppingCart item)
    {
        var updatedCart = await BooksService.ChangeInputQuantityToCart(item);
        if (updatedCart != null)
        {
            CartItems = updatedCart;
            StateHasChanged();
        }
    }
}
